.file-drop{
    display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  max-width: 100%;
  height: 200px;
  padding: 1em;
  border: 1px solid #ffffff;
  box-shadow: black, 5px;
  border-radius: 8px;
  color: slategray;
  cursor: pointer;
}

.new-title-input{
    width: 300px;
    max-width: 70%;
    padding: 5px;
}

.new-release-input{
    width: 100px;
    padding: 5px;
}

