.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    margin-top: 80px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search-input {
    border-radius: 5px;
    padding: 6px 10px;
}

.search-btn {
    padding: 6px 14px;
}


.movies-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
