.movie-card {
    background-color: rgb(90, 90, 90);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;

    flex: 1 1 220px;
    max-width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.movie-img {
    width: 100%;
    aspect-ratio: 2 / 3; 
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
}

.movie-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favorite-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background: black;
    padding: 4px 6px;
    border-radius: 6px;
    cursor: pointer;
}

.movie-txt {
    margin-top: 8px;
    text-align: center;
}

.movie-txt h3 {
    margin: 4px 0;
}

.movie-txt p {
    margin: 0;
}
