.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #3d3b3b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 999;
}

.navbar-brand{
    color: white;
}
.navbar-link_h{
    padding: 5px;
    color: white;
}
.navbar-link_f{
    color: white;
    padding: 5px;
}